asgiref
certifi
charset-normalizer
coreapi
coreschema
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-phonenumber-field
django-rest-authtoken
djangorestframework
drf-yasg
gunicorn
idna
inflection
itypes
Jinja2
MarkupSafe
packaging
phonenumberslite
psycopg2-binary
pyparsing
pytz
requests
ruamel.yaml
ruamel.yaml.clib
six
sqlparse
uritemplate
urllib3
